.DS_Store
hw5/tests/*actual*
hw5/tests/*diff*
hw5/tests/cachesim_actual_0.txt
.gitignore
hw1/covidtracker
hw1/recurse
hw1/build/Debug/covidtracker_arraylist.o
hw1/build/Debug/covidtracker.o
hw1/build/Debug/mersenne.o
hw1/build/Debug/prog.o
hw1/build/Debug/recurse.o
hw5/tests/cachesim_actual_0.txt
hw1/covidtracker
hw5/tests/cachesim_actual_0.txt
hw5/tests/*
hw5/tests/cachesim_actual_0.txt
hw5/tests/cachesim_actual_1.txt
hw5/tests/cachesim_actual_2.txt
hw5/tests/cachesim_actual_3.txt
hw5/tests/cachesim_actual_4.txt
hw5/tests/cachesim_actual_5.txt
hw5/tests/cachesim_actual_6.txt
hw5/tests/cachesim_actual_7.txt
hw5/tests/cachesim_actual_8.txt
hw5/tests/cachesim_actual_9.txt
hw5/tests/cachesim_actual_10.txt
hw5/tests/cachesim_actual_11.txt
hw5/tests/cachesim_actual_12.txt
hw5/tests/cachesim_actual_13.txt
hw5/tests/cachesim_actual_14.txt
hw5/tests/cachesim_actual_15.txt
hw5/tests/cachesim_actual_16.txt
hw5/tests/cachesim_actual_17.txt
hw5/tests/cachesim_actual_18.txt
hw5/tests/cachesim_actual_19.txt
hw5/tests/cachesim_actual_20.txt
hw5/tests/cachesim_actual_21.txt
hw5/tests/cachesim_actual_22.txt
hw5/tests/cachesim_actual_23.txt
hw5/tests/cachesim_actual_24.txt
hw5/tests/cachesim_actual_25.txt
hw5/tests/cachesim_actual_26.txt
hw5/tests/cachesim_actual_27.txt
hw5/tests/cachesim_actual_28.txt
hw5/tests/cachesim_actual_29.txt
hw5/tests/cachesim_actual_30.txt
hw5/tests/cachesim_actual_31.txt
hw5/tests/cachesim_actual_32.txt
hw5/tests/cachesim_actual_33.txt
hw5/tests/cachesim_actual_34.txt
hw5/tests/cachesim_actual_35.txt
hw5/tests/cachesim_actual_36.txt
hw5/tests/cachesim_actual_37.txt
hw5/tests/cachesim_actual_38.txt
hw5/tests/cachesim_actual_39.txt
hw5/tests/cachesim_actual_40.txt
hw5/tests/cachesim_actual_41.txt
hw5/tests/cachesim_actual_42.txt
hw5/tests/cachesim_actual_43.txt
hw5/tests/cachesim_actual_44.txt
hw5/tests/cachesim_diff_0.txt
hw5/tests/cachesim_diff_1.txt
hw5/tests/cachesim_diff_2.txt
hw5/tests/cachesim_diff_3.txt
hw5/tests/cachesim_diff_4.txt
hw5/tests/cachesim_diff_5.txt
hw5/tests/cachesim_diff_6.txt
hw5/tests/cachesim_diff_7.txt
hw5/tests/cachesim_diff_8.txt
hw5/tests/cachesim_diff_9.txt
hw5/tests/cachesim_diff_10.txt
hw5/tests/cachesim_diff_11.txt
hw5/tests/cachesim_diff_12.txt
hw5/tests/cachesim_diff_13.txt
hw5/tests/cachesim_diff_14.txt
hw5/tests/cachesim_diff_15.txt
hw5/tests/cachesim_diff_16.txt
hw5/tests/cachesim_diff_17.txt
hw5/tests/cachesim_diff_18.txt
hw5/tests/cachesim_diff_19.txt
hw5/tests/cachesim_diff_20.txt
hw5/tests/cachesim_diff_21.txt
hw5/tests/cachesim_diff_22.txt
hw5/tests/cachesim_diff_23.txt
hw5/tests/cachesim_diff_24.txt
hw5/tests/cachesim_diff_25.txt
hw5/tests/cachesim_diff_26.txt
hw5/tests/cachesim_diff_27.txt
hw5/tests/cachesim_diff_28.txt
hw5/tests/cachesim_diff_29.txt
hw5/tests/cachesim_diff_30.txt
hw5/tests/cachesim_diff_31.txt
hw5/tests/cachesim_diff_32.txt
hw5/tests/cachesim_diff_33.txt
hw5/tests/cachesim_diff_34.txt
hw5/tests/cachesim_diff_35.txt
hw5/tests/cachesim_diff_36.txt
hw5/tests/cachesim_diff_37.txt
hw5/tests/cachesim_diff_38.txt
hw5/tests/cachesim_diff_39.txt
hw5/tests/cachesim_diff_40.txt
hw5/tests/cachesim_diff_41.txt
hw5/tests/cachesim_diff_42.txt
hw5/tests/cachesim_diff_43.txt
hw5/tests/cachesim_diff_44.txt
hw5/traces/_custom1.txt
